
body {
    font-family: Arial;
    background: #f5f5f5;
    padding: 20px;
}

h1 {
    text-align: center;
}

.container {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
}

button {
    padding: 10px;
    width: 100%;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
}

.student-box {
    background: #eee;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
}
